.container {
  max-width: 1100px;
  margin:  auto;
  padding: 0 20px;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  color: #fff;
  background: url("https://i.pinimg.com/originals/5e/59/3e/5e593e2a5d8e4c1c3ac669d1e8f2070c.jpg");
}
